.my-container {
  position: relative;
  height: 100vh;
}

.my-container::before {
  content: "";
  background-image: url("./louvre.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: grayscale(50%);
  z-index: -1;
}
